* { 
    box-sizing: border-box
  }

body {
    width: 100vw;
    height: 100vh;
    margin: 0
}

.dashboard {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 300px;
}

.main {
    border: 1px solid red;
    margin: 10px;
    overflow-y: scroll;
}

.main::-webkit-scrollbar {
    display: none;
}

.aside {
    border: 1px solid blue;
    margin: 10px;

}

.aside >* {
        border: 1px solid yellow;
        margin: 10px;
}

.question-panel {
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.question-form-input {
    background-color: lightblue;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    width: -webkit-fill-available;
}

.answer-form-input {
    background-color: lightblue;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    width: -webkit-fill-available;
}

.row-flex {
    display: flex;
    gap: 20px
}

.button-reset {
    border: none;
    background-color: transparent;
}

.spaceAround {
    display: flex;
    justify-content: space-around;
}